@CHARSET "UTF-8";

.formDiv {
	border: 3px solid black;
	width: 600;
	margin: auto;
	margin-top: 70px;
}

.lformInHr {
	margin: auto;
	width: 90%;
}

.lInput {
	width: 300px;
}

.btn-login {
	width: 100px;
    height: 70px;
}

.lformFooter {
	width: 80%;
	margin-top: 5px;
    margin-left: 90px;
    margin-bottom: 10px;
	text-align: center
	
}

.footerA{
	color: black;
}

.marginTop10 {
	margin-top: 10px;
}

.marginTop20 {
	margin-top: 20px;
}

.marginTop30 {
	margin-top: 30px;
}

.marginAuto {
	margin: auto;
}

.eFormDiv {
	border: 1px solid gray;
	border-radius: 10px;
	margin-top: 30px;
}

.eLabel {
	background-color: #E3F2FD;
	border-radius: 10px;
	height: 40px;
	padding-top: 10px;
}