@CHARSET "UTF-8";

.navDiv {
	width: 98%;
	margin: auto;
}
   
.topHr {
	height: 5px;
	background-color: #2196F3;
	top: 0px;
}

.topA {
	text-decoration: none;
	color: black;
}

.division {
	background-color: gray;
	width: 3px;
	height: 25px;
}

.navHr {
	margin-top: 0px;
	margin-bottom: 0px;
	border-top-width: 0px;
	height: 4px;
	background-color: gray;
}

.headerText {
    margin-top: 7px;
    text-align: center;
}
