<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    
    <!-- File Upload 를 위한 세팅 -->
    <!-- commons-fileupload, io 를 maven 세팅 필요 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 최대 업로드 수치(bytes) : 50mb 제한 -->
		<property name="maxUploadSize" value="52428800" />  
		<!-- 업로드 파일 인코딩 -->
		<property name="defaultEncoding" value="UTF-8" />
    </bean>

	<!-- jsonView 사용을 위한 설정 추가  -->
	<bean id="jsonView" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
		<property name="contentType" value="application/json;charset=UTF-8"> </property>
	</bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver">
	    <property name="order" value="0"></property>
	</bean>
	<!-- /jsonView 사용을 위한 설정 추가  -->
	
	<mvc:annotation-driven>
	    <mvc:message-converters>
	        <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
	        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
	    </mvc:message-converters>
	</mvc:annotation-driven>
	
	
	<!-- jackson json library/ -->
	
	<context:component-scan base-package="kr.co.ndcnc" />
    <mvc:annotation-driven>
	    <mvc:message-converters>
	        <!-- @ResponseBody로 String 전송 시, 한글 UTF-8 처리 -->
	        <bean class="org.springframework.http.converter.StringHttpMessageConverter">
	            <property name="supportedMediaTypes">
	                <list>
	                    <value>text/html;charset=UTF-8</value>
	                </list>
	            </property>
	        </bean>
	    </mvc:message-converters>
	</mvc:annotation-driven>

	<mvc:default-servlet-handler />
			
	<mvc:view-resolvers>
		<mvc:jsp prefix="/jsp/" suffix=".jsp" />
	</mvc:view-resolvers>

</beans>