@CHARSET "UTF-8";
.headerbar{
	width: 100%;
    background-color: #4da6ff;
    font-size: 17px;
    color: #808080;
    padding-top: 11px;
}
#menubar_topnav{
	 line-height: 23px;
	 margin-right: 4%;
}
#menubar_topul{	
	width: 17%;
    background-color: #fff;
    float: left;
    height: 40px;
    padding-left: 87%;
    padding-right: 2px;
}
#header_bottom{
	clear: both;
    background-color: #fff;
    width: 100%;
    border-top: 3px solid #808080;
    border-bottom: 3px solid #808080;
    padding-top: 4px;
    padding-bottom: 6px;
    height: 67px;
}
.topli_headerAtag{
	text-decoration: none;
    color: inherit;
    font-weight: bold;
    cursor: default;
}
.topli_headerAtag:HOVER{
	color: #4da6ff;
}
#headerLogo{
	float: left;
    width: 15%;
}
#headerLogoText{
    width: 100%;
    text-align: center;
}
#logoimg{
	height: 100%;
	margin-top: 9px;
	margin-left: 14px;
}
#menuBar_nav{
	float: right;
    font-size: 20px;
    margin-top: 11px;
    width: 85%;
}
#menubar_ul{
	margin-right: 15%;
    margin-top: 9px;
    vertical-align: middle;
}
.navigatiohn_topli{
	margin-top: 7px;
    float: left;
    padding-right: 6%;
    padding-left: 6%;
    border-right: 1px solid #808080;
    font-size: 14px;
}
.navigatiohn_li{
	float: right;
    padding-left: 15%;
    /* padding-right: 14%; */
    color: black;
    font-weight: bold;;
}
.headerAtag{
	text-decoration: none;
    color: inherit;
    cursor: default;
}
.headerAtag:HOVER {
	color: #4da6ff;
}